---
import type { languages } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
import Card from "./Card.astro";

const currentLang = Astro.currentLocale || "en";
const t = useTranslations(currentLang as keyof typeof languages);
---

<main class="pt-18">
  <h1>
    {t("titulo_beneficios_fan_parte1")}{" "}
    <span class="highlight">{t("titulo_beneficios_fan_resaltado")}</span>{" "}
    {t("titulo_beneficios_fan_parte2")}
  </h1>

  {/* Section divider */}
  <div class="section-divider">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="circle circle-4"></div>
  </div>

  <Card
    icon="fas fa-bell"
    body={t("beneficiofan1_parte1") +
      " " +
      t("beneficiofan1_resaltado") +
      " " +
      t("beneficiofan1_parte2")}
  />

  <section class="benefits">
    <div class="card">
      <div class="icon"><i class="fas fa-bell"></i></div>
      <p>
        {t("beneficiofan1_parte1")}{" "}
        <span class="highlight">{t("beneficiofan1_resaltado")}</span>,{" "}
        {t("beneficiofan1_parte2")}
      </p>
    </div>

    <div class="card red">
      <div class="icon"><i class="fas fa-envelope"></i></div>
      <p>
        {t("beneficiofan2_parte1")}<br />
        {t("beneficiofan2_parte2")}
      </p>
    </div>

    <div class="card">
      <div class="icon"><i class="fas fa-user-friends"></i></div>
      <p>
        {t("beneficiofan3_parte1")}<br />
        <span class="highlight">{t("beneficiofan3_resaltado")}</span>{" "}
        {t("beneficiofan3_parte2")}
      </p>
    </div>

    <div class="card red">
      <div class="icon"><i class="fas fa-map"></i></div>
      <p>
        {t("beneficiofan4_parte1")}<br />
        {t("beneficiofan4_parte2")}
      </p>
    </div>
  </section>
</main>
