---
import SectionDivider from "./SectionDivider.astro";
import SectionTitle from "./SectionTitle.astro";

const { videoSrc, title, body, reverted = false } = Astro.props;
---

<SectionDivider />
<section class="px-5">
  <SectionTitle title={title} />
  <div
    class={`video-section flex flex-col md:flex-row items-center justify-center gap-8 ${
      reverted ? "md:flex-row" : "md:flex-row-reverse"
    }`}
  >
    <div class="video-media w-full md:w-1/2">
      <iframe
        src={videoSrc}
        class="w-full aspect-video rounded-xl shadow-lg"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="video-content w-full md:w-1/2 text-center md:text-left">
      <p>{body}</p>
    </div>
  </div>
</section>
